<% include partials/header %>
<div class="container">
    <h1>Admin dashboard</h1>
    <div class="body-container">
        <div class="actions">
            <ul class="list-group">
                <% if(currentUser) { %> 
                    <li class="list-group-item"><a href="/users/<%= currentUser.username %>"><%= currentUser.username %></a></li>
                    <li class="list-group-item"><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li class="list-group-item"><a href="/">Login</a></li>
                <% } %>
                <% if(currentUser && currentUser.isAdmin) { %>
                    <li class="list-group-item"><a href="/users/new" >Create a new user</a></li>
                <% } %>
            </ul>
        </div>
        <div class="main-content">
            <h3>Time Logs</h3>
			<form action="/dashboard" method="GET">
				<input type="date" name="date" placeholder="dd/mm/yyyy"/>
				<button class="button sm">Submit</button>
			</form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (logins) { %>
                        <% var days = [
                            'Sunday',
                            'Monday',
                            'Tuesday',
                            'Wednesday',
                            'Thursday',
                            'Friday',
                            'Saturday'
                        ]; %>
                        <% logins.forEach(function (login) { %>
                            <tr>
                                <td><%= login.time.toLocaleDateString() %></td>
                                <td><%= days[login.time.getDay()] %></td>
                                <td><%= login.time.toLocaleTimeString() %></td>
                                <td><a href="/users/<%= login.user.username %>"><%= login.user.username %></a></td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
            <h3>Users</h3>
            <ul class="list-group">
                <% users.forEach(function (user) { %>
                    <li class="list-group-item"><a href="/users/<%= user.username %>"><%= user.username %></a></li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<% include partials/footer %>