<% include partials/header %>
<div class="container">
    <h2 class="display-4 mb-4">Admin dashboard</h2>
        <form action="/dashboard" method="GET">
            <div class="input-group mb-3" style="max-width: 500px;">
                <input id="date" class="form-control" type="date" name="date" placeholder="dd/mm/yyyy"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary">Submit</button>
                </div>
            </div>
        </form>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <% if (logins) { %>
                    <% logins.forEach(function (login) { %>
                        <tr>
                            <td><%= strftime("%B %d, %Y", login.time) %></td>
                            <td><%= strftime("%A", login.time) %></td>
                            <td><%= strftime("%I:%M %p", login.time) %></td>
                            <td><a href="/users/<%= login.user.username %>"><%= login.user.username %></a></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        <h3>Users</h3>
        <div class="list-group" style="max-width: 300px;">
            <% users.forEach(function (user) { %>
                <a class="list-group-item list-group-item-action" href="/users/<%= user.username %>"><%= user.username %></a>
            <% }) %>
        </div>
        
</div>
<% include partials/footer %>